<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping class="model.Address" />
		<mapping class="model.Image" />
		<mapping class="model.Person" />
		<mapping class="model.Project" />
		<mapping class="model.ProjectGroup" />
		<!-- 
		<mapping resource="model/user.hbm.xml" /> 
		<mapping resource="model/sector.hbm.xml" />
		 -->
	</session-factory>
</hibernate-configuration>