/*
Navbar

Medium:
13px height padding
24px height logo
13px height padding

*/

html {
	/* for sticky footer: */
	position: relative;
	min-height: 100%;
}

* {
	font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

body {
	/*background: rgb(42, 42, 42);*/
	background: rgb(239, 239, 239);
	color: black;
	/* for sticky footer: Margin bottom by at least footer height */
	margin-bottom: 100px;
}

.noselect {
	cursor: default;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}

.darkBackground {
	background-color: rgb(32, 32, 32);
	border: 1px solid rgb(24, 24, 24);
	
	min-height: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 4px;
	width: 100%;
}

.brightBackground {
	background: rgb(255,255,255);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2); 
	
	min-height: 20px;
	padding-left: 40px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 10px;
	width: 100%;
}

/* PROJECTS */
.mainTitleProjectsContainer{
	text-transform: uppercase;
	width: 100%;
	height: 70px;
	line-height: 70px;
	font-size: 30px;
	font-weight: bold;
	color: rgb(60,60,60);
	background: rgb(248,248,248);
	border-bottom: 1px;
	border-color: #e7e7e7;
	margin-bottom: 20px;
	text-align: center;
	vertical-align: middle;
}
.mainTitleProjects{
}
.projectGroupBackground {
}
.projectBackground {
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
	padding: 10px;
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0; 
	background: rgb(255,255,255);
	width: 100%;
}
.projectThumbnail {
	width: 64px;
	height: 64px;
	margin-right: 20px;
}
.projectGroupTitle,  .projectGroupChildProjectsAmount{
	line-height: 30px;
	vertical-align: middle;
}
.projectGroupTitle {
	background: rgb(94, 94, 94);
	border: 1px solid rgb(78, 78, 78);
	color: white;
	width: 100%;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.projectGroupChildProjectsAmount{
	font-size: 30px;
	float: right;
	color: rgb(240,240,240);
	margin-right: 10px;
}

div.projectLink{
	
}
a.projectLink{
	display:block;
	height:100%;
	width:100%;
	
	text-decoration:none;
}

.projectTitle, .projectYear{
	vertical-align: middle;
	line-height: 64px;
	color: black;
	font-weight: bold;
	font-size: 15px;
}
.projectYear{
	float: right;
}


.navbar {
	margin-top: 5px;
	border-left: none;
	border-right: none;
}

@media (min-width: 767px) {
	.nav>li>a {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

.footer-wide {
	/*background: rgb(30, 30, 30);*/
	/*color: rgb(42,42,42);*/
	background: rgb(225, 225, 225);
	color: rgb(239, 239, 239);
	font-size: large;
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here (html body has to have same margin-bottom as height of footer) */
	height: 40px;
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 10px;
}

.navbar-brand {
	/*height: auto;*/
	/*padding: 5px 15px 5px 0;*/
	/* max-height: 45px; */
	padding-left: 15px;
	padding-top: 13px;
	padding-bottom: 13px;
}
.navbar-brand img {
	/*max-height: 20px;*/
}

@media (max-width: 1200px) {
	.navbar-brand img {
		width: 180px;
	}
}


/* CENTERED BRAND NAME */
/*
@media screen and (min-width:768px) {
	.navbar-brand-centered {
		position: absolute;
		left: 50%;
		display: inline-block;
		width: 160px;
		text-align: center;
	}
	.navbar>.container .navbar-brand-centered, .navbar>.container-fluid .navbar-brand-centered
		{
		margin-left: -80px;
	}
}
*/





/* PhotoSwipe related CSS start: */
.my-gallery {
  width: 100%;
  float: left;
}
.my-gallery img {
  width: 100%;
  height: auto;
}
.my-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
}
.my-gallery figcaption {
  display: none;
}
/* PhotoSwipe related CSS end: */