.my-gallery {
  width: 100%;
  float: left;
}
.my-gallery img {
  width: 100%;
  height: auto;
}
.my-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
}
.my-gallery figcaption {
  display: none;
}




html {
	/* for sticky footer: */
	position: relative;
	min-height: 100%;
}

* {
	font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

body {
	background: rgb(42, 42, 42);
	color: white;
	/* for sticky footer: Margin bottom by footer height */
	margin-bottom: 40px;
}

.noselect {
	cursor: default;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}

.darkBackground {
	min-height: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgb(32, 32, 32);
	border: 1px solid rgb(24, 24, 24);
	border-radius: 4px;
	width: 100%;
}

.navbar {
	margin-top: 5px;
	border-left: none;
	border-right: none;
}

@media (min-width: 767px) {
	.nav>li>a {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

.footer-wide {
	color: rgb(42,42,42);
	font-size: large;
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here (html body has to have same margin-bottom as height of footer) */
	height: 40px;
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 10px;
	background: rgb(30, 30, 30);
}

.navbar-brand {
	height: auto;
	padding: 12px 15px 12px 0;
	max-height: 80px;
}
.navbar-brand img {
	/*max-height: 20px;*/
}

@media (max-width: 1200px) {
	.navbar-brand img {
		width: 180px;
	}
}


/* CENTERED BRAND NAME */
/*
@media screen and (min-width:768px) {
	.navbar-brand-centered {
		position: absolute;
		left: 50%;
		display: inline-block;
		width: 160px;
		text-align: center;
	}
	.navbar>.container .navbar-brand-centered, .navbar>.container-fluid .navbar-brand-centered
		{
		margin-left: -80px;
	}
}
*/