* {
	font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

body {
	background: rgb(239, 239, 239);
	color: rgb(0,0,0);
}
.floating-box-container{
    text-align: center;
}
.floating-box {
    display:inline-block;
    background: rgb(255,255,255);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2); 
   	padding-left: 20px;
	padding-right: 20px;
}

#floating-box-top{
	margin: 20px 10px 5px 10px;
    font-size: 22px;
}
#floating-box-top p{
	margin: 10px;
}
#floating-box-main{
    padding-top: 25px;
    padding-bottom: 25px;
	margin: 5px 10px;
}

.dataEntry { /*input[type="text"] { */
	min-width:250px;
	width: 100%;
	height: 28px;
	line-height: 28px;
	padding: 0 8px;
	margin: 0;
	vertical-align: middle;	
	display: block;
    text-align: right;
	box-sizing:border-box;
    -moz-box-sizing:border-box;
	overflow: hidden;
	font-family: sans-serif;
	font-size: 14px;
	appearance: none;
	box-shadow: none;
	border: 1px solid rgb(217,217,217);
	border-top: 1px solid rgb(200,200,200);
	border-radius: 2px;
	transition: box-shadow 0.2s, border 0.2s;
}
.dataEntry:hover { /*input[type="text"]:hover {*/
	/*background-color: yellow;*/
}
.dataEntry:focus { /*input[type="text"]:focus {*/
	background-color: yellow;
}

.dataSelect {
	min-width:250px;
	width: 100%;
	height:30px;
	padding: 0 8px;
	margin: 0;
	
	border: 1px solid rgb(217,217,217);
	border-top: 1px solid rgb(200,200,200);
    list-style: none;
	border-radius: 2px;
    padding-left: 5px;

	background-color: rgb(250,250,250);
    background-image: -webkit-linear-gradient(top,rgb(255,255,255),rgb(240,240,240))
}

.hoverShadow {
	box-shadow: none;
}
.hoverShadow:focus {
	border: solid 1px rgb(112,112,112);
	box-shadow: 0 2px 6px 1px rgb(200,200,200);
	outline: none;
}
.hoverShadow:hover {
	box-shadow: 0 2px 6px 1px rgb(150,150,150);
}

#resultsTableContainer table, #resultsTableContainer tbody, #resultsTableContainer th, #resultsTableContainer  tr, #resultsTableContainer  td {
   	border: 1px solid rgb(217,217,217);
  	border-top: 1px solid rgb(200,200,200);
	background-color: rgb(250,250,250);
    background-image: -webkit-linear-gradient(top,rgb(255,255,255),rgb(240,240,240));
    border-radius: 2px;
}
#resultsTableContainer td {
	/*width: 100%;*/
}
#resultsTableContainer table {
	/*border-collapse: collapse;*/
	width: 100%;
	margin-top: 30px;	
}
.tdInfo {
	text-align: left;
	padding-right: 10px;
}

#swapCurrenciesBtn {
	color: black;
	font-size: 14px;
	width: 100%;
	margin:0;
	 padding:0;"
	height: 30px;
	display: inline-block;
    padding: 5px 10px;
   	border: 1px solid rgb(217,217,217);
	border-radius: 2px;
  	border-top: 1px solid rgb(200,200,200);
  	background-color: rgb(250,250,250);
	background-image: -webkit-linear-gradient(top,rgb(255,255,255),rgb(240,240,240));
}
#swapCurrenciesBtn:focus {
	outline: none;
	background-color: yellow; /*firefox etc*/
	background-image: -webkit-linear-gradient(top,rgb(255,255,0),rgb(230,230,0));
	border: solid 1px rgb(112,112,112); /*#707070*/
	box-shadow: 0 2px 6px 1px rgb(200,200,200);
}
#swapCurrenciesBtn:hover {
	box-shadow: 0 2px 6px 1px rgb(150,150,150);
}
#swapCurrenciesBtn:active {
	background-image: -webkit-linear-gradient(top,rgb(250,250,250),rgb(230,230,230));
	box-shadow: inset 0 0 0 1px rgb(74,74,74), inset 0 5px 30px rgb(48,48,48);
	border: none;
	color: rgb(10,10,10);
}

.gradientButton { /*button*/
	color: #fff;
	width:100%;
	height: 35px;
	display: inline-block;
	margin: 0 5px 0 0;
	padding: 2px;
	font-size: 18px;
	appearance: none;
	background-color: rgb(100,150,200);
	background-image: -webkit-linear-gradient(top,rgb(100,150,200),rgb(52,99,146));
	box-shadow: none;
	border: none;
	border-radius: 2px;
}
.gradientButton:focus {
	outline: none;
	/*background-color: yellow;*/
	color: black;
	background-image: -webkit-linear-gradient(top,rgb(255,255,0),rgb(230,230,0));
	border: solid 1px rgb(112,112,112);
	box-shadow: 0 2px 6px 1px rgb(200,200,200);
}
.gradientButton:hover {
	box-shadow: 0 2px 6px 1px rgb(150,150,150);
}
.gradientButton:active {
	border: solid 1px rgb(39,73,109);
	box-shadow: inset 0 5px 30px rgb(25,48,71);
	color: rgb(240,240,240);
	background-image: -webkit-linear-gradient(top,rgb(100,150,200),rgb(52,99,146));
}
#errorsTableContainer{
	text-align: left;
}
#errorsList{
	list-style-type: none;
}

.unselectable{
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

#td-title{
	font-size: 22px;
	font-weight: bold;
	padding-bottom: 20px;
	margin: 0;
}

#languageAndDateTable{
	width: 100%;
}
#mainTable{
	width: 100%;
}











/*
#topRightContainer{
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2); 
	background-color:rgb(250,250,250);
	padding:5px;
	float: right;
}
*/
/*
.customButton {
	color: #fff;
	background-color: #6496c8;
	border: none;
	border-radius: 15px;
	box-shadow: 0 10px #27496d;
}
.customButton:hover {
	background-color: #417cb8
}
.customButton:active {
	background-color: #417cb8;
	box-shadow: 0 5px #27496d;
	transform: translateY(5px);
}
*/




