<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 
	2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd" > <web-app> -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
	<display-name>Maven1 (Archetype Created Web Application)</display-name>


	<listener>
		<listener-class>listener.InitDatabaseListener</listener-class>
	</listener>


	<servlet>
		<!-- <display-name>simple</display-name> -->
	  	<servlet-name>simple</servlet-name>
	  	<!-- <jsp-file>/simple.jsp</jsp-file>  -->
	  	<servlet-class>
	    	controller.SimpleServlet
	  	</servlet-class>
	</servlet>
	<servlet-mapping>
  		<servlet-name>simple</servlet-name>
  		<url-pattern>/simple</url-pattern>
	</servlet-mapping>

	<servlet>
	   <servlet-name>contact</servlet-name>
	   <jsp-file>/contact.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	  <servlet-name>contact</servlet-name>
	  <url-pattern>/contact</url-pattern>
	</servlet-mapping>
	
	<servlet>
	   <servlet-name>projects</servlet-name>
	   <jsp-file>/projects.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	  <servlet-name>projects</servlet-name>
	  <url-pattern>/projects</url-pattern>
	</servlet-mapping>
	
	
	
	<!-- needed
	<servlet>
		<display-name>Default</display-name>
		<servlet-name>Default</servlet-name>
		<servlet-class>controller.Default</servlet-class>
	</servlet>
	 -->
	<!--
	not needed
	<servlet-mapping>
		<servlet-name>Default</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>
	 -->
	 
	 <!-- 
	 <context-param>
    	<param-name>whateverName</param-name>
    	<param-value>whateverValue</param-value>
	</context-param>
	  -->
	 
	 <!-- 
	 <session-config>
      <session-timeout>
        30
      </session-timeout>
	</session-config>
 	-->
</web-app>