<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 
	2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd" > <web-app> -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>JVR</display-name> <!-- Maven1 (Archetype Created Web Application) -->
  <listener>
    <listener-class>listener.InitDatabaseListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>simple</servlet-name>
    <servlet-class>
	    	controller.SimpleServlet
	  	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>simple</servlet-name>
    <url-pattern>/simple</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>contact</servlet-name>
    <jsp-file>/contact.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>contact</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>velle_kadalipp</servlet-name>
    <jsp-file>/cvVelleKadalipp.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>velle_kadalipp</servlet-name>
    <url-pattern>/velle_kadalipp</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>kalle_vellevoog</servlet-name>
    <jsp-file>/cvKalleVellevoog.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>kalle_vellevoog</servlet-name>
    <url-pattern>/kalle_vellevoog</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>projects</servlet-name>
    <servlet-class>
	    	controller.Projects
	  	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>projects</servlet-name>
    <url-pattern>/projects/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>persons</servlet-name>
    <servlet-class>
	    	controller.Persons
	  	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>persons</servlet-name>
    <url-pattern>/people/*</url-pattern>
  </servlet-mapping>
</web-app>